<header>
<div class="container">
  <h1 id="logo"><a href="#aboutSection" rel="slideto">GIOI THIEU</a></h1>
  <nav>
    <ul id="main-menu">
            <li class='service' ><a href="#serviceSection" rel='slideto'>DỊCH VỤ</a></li>
            <li class='product' ><a href="#productSection" rel='slideto'>SẢN PHẨM</a></li>
            <li class='therapies'><a href="#therapiesSection" rel='slideto'>TRỊ LIỆU</a></li>
            <li class='promotion'><a href="#promotionSection" rel='slideto'>KHUYẾN MÃI</a></li>
            <li class='career' ><a href="#careerSection" rel='slideto'>TUYỂN DỤNG</a></li>
            <li class='contact'><a href="#contactSection" rel='slideto'>LIÊN HỆ</a></li>
    </ul>	
  </nav>
  <div id="slogan">
    <span class="alignleft">Spa Danh</span>
    <span class="star"></span>
    <span class="alignright">Cho Moi Lua Tuoi</span>
    <div class="clearfix"></div>
  </div>
</div>
</header>
<div id='aboutSection'></div>
<div id='serviceSection'></div>
<div id='productSection'></div>
<div id='therapiesSection'></div>
<div id='promotionSection'></div>
<div id='careerSection'></div>
<div id='contactSection'></div>
