<!-- Gallery starts -->
<div class='container'>
<div id="my-gallery" class="vion-gallery">
    <!-- Gallery mask starts -->
    <div class="gallery-mask">

        <!-- Slides start -->
        <div class="slides">
            <div class="slide">
                <div class="image-holder">
                    <img src="images/p/DE_01.jpg" />
                </div>
                <div class="info">
                    <h2>Title goes here</h2>
                    <p>Subtitle goes here.</p>
                </div>
            </div>

            <div class="slide">
                <div class="image-holder">
                    <img src="images/p/DE_03.jpg" />
                </div>
                <div class="info">
                    <h2>Title goes here</h2>
                    <p>Subtitle goes here.</p>
                </div>
            </div>

            <div class="slide">
                <div class="image-holder">
                    <img src="images/p/DE_04.jpg" />
                </div>
                <div class="info">
                    <h2>Title goes here</h2>
                    <p>Subtitle goes here.</p>
                </div>
            </div>
            <div class="slide">
                <div class="image-holder">
                    <img src="images/p/DE_1.jpg" />
                </div>
                <div class="info">
                    <h2>title goes here</h2>
                    <p>subtitle goes here.</p>
                </div>
            </div>
            <div class="slide">
                <div class="image-holder">
                    <img src="images/p/DE_2.jpg" />
                </div>
                <div class="info">
                    <h2>title goes here</h2>
                    <p>subtitle goes here.</p>
                </div>
            </div>
            <div class="slide">
                <div class="image-holder">
                    <img src="images/p/DE_3.jpg" />
                </div>
                <div class="info">
                    <h2>title goes here</h2>
                    <p>subtitle goes here.</p>
                </div>
            </div>
            <div class="slide">
                <div class="image-holder">
                    <img src="images/p/DE_4.jpg" />
                </div>
                <div class="info">
                    <h2>title goes here</h2>
                    <p>subtitle goes here.</p>
                </div>
            </div>
        </div>
        <!-- Slides end -->

    </div>
    <!-- Gallery mask ends -->

    <!-- Thumbnails start -->
    <div class="thumbnails">
        <ul>
            <li><img src="images/p/thumbs/DE_01.jpg" /></li>
            <li><img src="images/p/thumbs/DE_03.jpg" /></li>
            <li><img src="images/p/thumbs/DE_04.jpg" /></li>
            <li><img src="images/p/thumbs/DE_1.jpg" /></li>
            <li><img src="images/p/thumbs/DE_2.jpg" /></li>
            <li><img src="images/p/thumbs/DE_3.jpg" /></li>
            <li><img src="images/p/thumbs/DE_4.jpg" /></li>
        </ul>
    </div>
    <!-- Thumbnails end -->

</div>
<!-- Gallery ends -->
</div>

